<%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:first_name) %></th>
    <th><%= model_class.human_attribute_name(:middle_name) %></th>
    <th><%= model_class.human_attribute_name(:last_name) %></th>
    <th><%= model_class.human_attribute_name(:gender) %></th>
    <th><%= model_class.human_attribute_name(:date_of_birth) %></th>
    <th><%= model_class.human_attribute_name(:admission_number) %></th>
    <th><%= model_class.human_attribute_name(:contact_number) %></th>
    <th><%= model_class.human_attribute_name(:batch_id) %></th>
    <th><%= model_class.human_attribute_name('Department ID') %></th>
    <th><%= model_class.human_attribute_name(:fathers_name) %></th>
    <th><%= model_class.human_attribute_name(:mothers_name) %></th>
    <th><%= model_class.human_attribute_name(:guardians_contact) %></th>
    <th><%= model_class.human_attribute_name(:address) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.id, student_path(student) %></td>
        <td><%= student.first_name %></td>
        <td><%= student.middle_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.gender %></td>
        <td><%= student.date_of_birth %></td>
        <td><%= student.admission_number %></td>
        <td><%= student.contact_number %></td>
        <td><%= student.batch_id %></td>
        <td><%= student.department_id %></td>
        <td><%= student.fathers_name %></td>
        <td><%= student.mothers_name %></td>
        <td><%= student.guardians_contact %></td>
        <td><%= student.address %></td>
        <td><%=l student.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_student_path(student), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      student_path(student),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_student_path,
            :class => 'btn btn-primary' %>
